<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
<div class="navbar-brand">
<div class="row">
<div class="col-sm">
  <a class="navbar-brand" href="#">Amazon</a>
  </div>
  </div>
</div>

  <div class="container-fluid" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  <div class="container center">
  <div class="row">
  <div class="col-10">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </div>
  <div class="col">
      <button class="btn btn-outline-success my-2" type="submit">Search</button>
  </div>
  </div>
  </div> 

<div class="row">
<div class="col-lg">
  <li class="nav-item active">
    <a class="nav-link" href="#">Sign In</a>
  </li>
</div>
</div>
    </form>
  </div>
</div>
</nav>